alias vim=nvim
alias vi="nvim"

# File operations
alias ll='ls -alF'

# System shortcuts
alias h='history'
alias c='clear'
alias q='exit'
alias reload='source ~/.zshrc'

# Git shortcuts
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --oneline'

# .NET
alias d='dotnet'
alias db='dotnet build'
alias dr='dotnet run'
alias dt='dotnet test'
alias ds='dotnet restore'
alias dp='dotnet publish'
alias dw='dotnet watch'
alias dwr='dotnet watch run'
alias dwt='dotnet watch test'
alias dn='dotnet new'
alias da='dotnet add'
alias drm='dotnet remove'


# Shell Tools
alias cd='z'

# Custom
alias repos='cd ~/Repos'
alias projects='cd ~/Projects'
alias dev='tmux-dev-session.sh'
alias wt='tmux-worktree-session.sh'
alias wtc='tmux-worktree-cleanup.sh' 


